[data-theme='manifest'] {
    --text-scaling: 1.067;
    --base-font-color: oklch(0 0 0 / 1);
    --base-font-color-dark: oklch(1 0 0 / 1);
    --base-font-family: 'Source Sans Pro';
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: oklch(0 0 0 / 1);
    --heading-font-color-dark: oklch(1 0 0 / 1);
    --heading-font-family: 'Inter';
    --heading-font-weight: normal;
    --heading-font-style: normal;
    --heading-letter-spacing: -0.025em;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.22rem;
    --radius-base: 0.063rem;
    --radius-container: 0.063rem;
    --default-border-width: 2px;
    --default-divide-width: 2px;
    --default-ring-width: 2px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(92.05% 0.04 241.68deg);
    --color-primary-100: oklch(87.49% 0.06 247.66deg);
    --color-primary-200: oklch(82.68% 0.07 251.89deg);
    --color-primary-300: oklch(78.1% 0.09 254.1deg);
    --color-primary-400: oklch(73.28% 0.1 256.09deg);
    --color-primary-500: oklch(68.73% 0.12 257.11deg);
    --color-primary-600: oklch(62.53% 0.11 257.25deg);
    --color-primary-700: oklch(56.46% 0.1 256.95deg);
    --color-primary-800: oklch(49.92% 0.09 257.11deg);
    --color-primary-900: oklch(43.47% 0.08 256.65deg);
    --color-primary-950: oklch(36.45% 0.06 256.82deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-dark);
    --color-primary-contrast-500: var(--color-primary-contrast-dark);
    --color-primary-contrast-600: var(--color-primary-contrast-dark);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(86.89% 0.07 36.68deg);
    --color-secondary-100: oklch(82.76% 0.09 39.47deg);
    --color-secondary-200: oklch(78.74% 0.11 40.64deg);
    --color-secondary-300: oklch(74.86% 0.12 42.76deg);
    --color-secondary-400: oklch(71.07% 0.14 42.81deg);
    --color-secondary-500: oklch(67.45% 0.16 42.7deg);
    --color-secondary-600: oklch(66.08% 0.16 41.4deg);
    --color-secondary-700: oklch(64.89% 0.17 40.07deg);
    --color-secondary-800: oklch(63.71% 0.18 39.56deg);
    --color-secondary-900: oklch(62.61% 0.18 38.35deg);
    --color-secondary-950: oklch(61.41% 0.19 37.33deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-light);
    --color-secondary-contrast-500: var(--color-secondary-contrast-light);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(96.75% 0.05 196.35deg);
    --color-tertiary-100: oklch(91.52% 0.06 193.49deg);
    --color-tertiary-200: oklch(86.54% 0.07 191.41deg);
    --color-tertiary-300: oklch(81.27% 0.08 189.7deg);
    --color-tertiary-400: oklch(76.36% 0.09 188.19deg);
    --color-tertiary-500: oklch(71.24% 0.1 186.66deg);
    --color-tertiary-600: oklch(64.32% 0.09 186.68deg);
    --color-tertiary-700: oklch(57.16% 0.08 185.71deg);
    --color-tertiary-800: oklch(49.59% 0.08 186.62deg);
    --color-tertiary-900: oklch(41.98% 0.07 185.18deg);
    --color-tertiary-950: oklch(34.08% 0.06 184.71deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(97.4% 0.04 144.18deg);
    --color-success-100: oklch(92.19% 0.06 145.02deg);
    --color-success-200: oklch(87.11% 0.08 145.29deg);
    --color-success-300: oklch(81.93% 0.1 145.34deg);
    --color-success-400: oklch(76.93% 0.12 145.15deg);
    --color-success-500: oklch(71.85% 0.14 144.88deg);
    --color-success-600: oklch(64.77% 0.14 144.46deg);
    --color-success-700: oklch(57.22% 0.14 144.21deg);
    --color-success-800: oklch(49.81% 0.13 143.45deg);
    --color-success-900: oklch(41.93% 0.13 143.08deg);
    --color-success-950: oklch(34.15% 0.12 142.5deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-dark);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(98.17% 0.1 108.12deg);
    --color-warning-100: oklch(95.53% 0.12 102.72deg);
    --color-warning-200: oklch(93.16% 0.14 99.05deg);
    --color-warning-300: oklch(90.69% 0.15 95.27deg);
    --color-warning-400: oklch(88.51% 0.16 92.19deg);
    --color-warning-500: oklch(86.22% 0.17 88.3deg);
    --color-warning-600: oklch(78.96% 0.15 87.7deg);
    --color-warning-700: oklch(71.52% 0.14 86.95deg);
    --color-warning-800: oklch(63.69% 0.13 85.23deg);
    --color-warning-900: oklch(55.82% 0.11 83.76deg);
    --color-warning-950: oklch(47.66% 0.1 81.92deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-dark);
    --color-warning-contrast-800: var(--color-warning-contrast-dark);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(85.32% 0.08 40.05deg);
    --color-error-100: oklch(79.71% 0.11 33.6deg);
    --color-error-200: oklch(74.21% 0.14 28.95deg);
    --color-error-300: oklch(69.1% 0.16 27.42deg);
    --color-error-400: oklch(64.54% 0.19 26.41deg);
    --color-error-500: oklch(60.83% 0.21 27.03deg);
    --color-error-600: oklch(54.88% 0.19 27.36deg);
    --color-error-700: oklch(48.91% 0.18 27.3deg);
    --color-error-800: oklch(42.67% 0.16 27.77deg);
    --color-error-900: oklch(36.41% 0.14 27.89deg);
    --color-error-950: oklch(29.59% 0.12 29.23deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(98.21% 0 none);
    --color-surface-100: oklch(91.24% 0.01 264.6deg);
    --color-surface-200: oklch(84.34% 0.01 256.71deg);
    --color-surface-300: oklch(77.1% 0.02 259.43deg);
    --color-surface-400: oklch(69.9% 0.02 256.76deg);
    --color-surface-500: oklch(62.32% 0.03 258.37deg);
    --color-surface-600: oklch(55.47% 0.03 255.64deg);
    --color-surface-700: oklch(48.24% 0.03 258.37deg);
    --color-surface-800: oklch(40.86% 0.02 253.09deg);
    --color-surface-900: oklch(33% 0.02 256.4deg);
    --color-surface-950: oklch(24.83% 0.02 251.64deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}