@import '@fontsource/source-sans-pro/400.css';
@import '@fontsource/source-sans-pro/600.css';
@import '@fontsource/source-sans-pro/700.css';
@import '@fontsource/poppins/400.css';
@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '../manifest.css';

@import '@skeletonlabs/skeleton-svelte';
@import '@layerstack/tailwind/core.css';

@source '../node_modules/layerchart/dist';

@theme {
  --color-primary: var(--color-primary-500);
  --color-surface-100: var(--color-surface-100);
  --color-surface-200: var(--color-surface-200);
  --color-surface-300: var(--color-surface-300);
  --color-surface-content: var(--color-primary-50);
}
svg text { fill: var(--text-primary); stroke: var(--text-primary); stroke-width: 0.5; paint-order: fill; }

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.cds--chart-holder[data-carbon-theme=g90] {
    .chart-grid-backdrop {
        fill: transparent;
    }
}
