@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/source-sans-pro/400.css';
@import '@fontsource/source-sans-pro/600.css';
@import '@fontsource/source-sans-pro/700.css';
@import '@fontsource/poppins/400.css';
@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '../manifest.css';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.cds--chart-holder[data-carbon-theme=g90] {
    .chart-grid-backdrop {
        fill: transparent;
    }
}
