@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '../manifest.css';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.cds--chart-holder[data-carbon-theme=g90] {
    .chart-grid-backdrop {
        fill: transparent;
    }
}
