name: Build Application

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [testnet, mainnet]
    env:
      NODE_ENV: ${{ matrix.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Set environment variables
        run: |
          touch .env
          echo "VITE_RPC_PROXY_TARGET=${{ secrets.VITE_RPC_PROXY_TARGET }}" >> .env
          echo "NETWORK=${{ vars.NETWORK }}" >> .env
          echo "LAUNCH_DATE=${{ secrets.LAUNCH_DATE }}" >> .env

      - name: Build application
        run: bun run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.environment }}
          path: |
            build/
